@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, 111132);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3{
    font-size: 60px;
    margin:50px;
    text-align: center;

    @include mobile {
      font-size: 36px;
      align-self: center;
      text-align: center;
      flex-direction: column;
      // padding-top: 50px;
    }
  }

  .textContainer {
    flex: 1;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      display: none;
      // padding-top: 50px;
    }

    p {
      font-weight: 200px;
      font-size: 16px;
      color: rgb(184, 184, 184);
      text-align: center;
      margin-bottom: 20px;
    }
    // hr {
    //   width: 500px;
    //   border: none;
    //   border-top: 0.5px solid gray;

    //   @include mobile {
    //     width: 300px;
    //   }
    // }


    @include mobile {
      width: 80%;
    }

    .hr2 {
      width: 500px;
      border: none;
    }
  }
  .titleContainer {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 50px;


    @include mobile {
      width: 100%;
      
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 500px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 250px;
          height: 70px;
          // margin-top:20px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
          // padding-top: 15px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16;
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .listContainer {
    flex: 1;
    display: flex;
    // max-width: 1920px;
    // margin: 10px;
    // margin-left: 50px;
    
    // align-items: center;
    // justify-content: space-between;



    @include mobile {
      // flex-direction: column;
      
      
      width: 100%;
      flex-direction: row; /* Asegúrate de que los elementos estén en línea horizontalmente */
      overflow-x: auto; /* Permite el desplazamiento horizontal */
      // white-space: nowrap;
      // margin-top:20px;
      // margin-bottom:20px;
      // flex-wrap: wrap;
    }

    .caja2{
      // padding-bottom:auto;

      p{
        width: 430px;
      }
      
    }


    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      // height: auto;
      justify-content: space-between;

      

      @include mobile {
        // border: none;
        align-items: center;

        gap: 20px;
        // height: 350px;
        // width: 440px;
        display: inline-block; /* Alinea los elementos en línea horizontalmente */
        margin-right: 10px; 


        
      }

      p {
        @include mobile {
          
          // display: none;
          // align-items: center;
          // gap: 10px;
          max-width: 90%;

        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
